.tentip {
    text-align: left;
    background-color: azure;
    padding: 12px 60px;
    border: 1px red solid;
}

body {
    background-color: bisque;
    font-family: '標楷體', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    text-align: center;
}

.banner {
    width: 350px;
    display: inline-block;
    color: blue;
    background-color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    margin: 12px;
    padding: 6px 12px;
}

#title {
    color: rgb(23, 20, 212);
    background-color: rgb(100, 4, 20);
    font-size: 64px;
    margin: 2px 12px 24px 36px;
    margin-top: 64px;
    padding: 12px;
    text-align: center;
}

.slogan {
    background-color: blue;
    font-size: 64px;
}

#bmi-table {
    width: 600px;
    height: 300px;
    background-color: aqua;
    margin: 0 auto;
}

#bmi-table thead {
    background-color: brown;
    color: aliceblue;
}

#bmi-table th {
    font-size: 20px;
    font-weight: 100;
}

#bmi-table tbody {
    background-color: burlywood;
    font-size: 1.2rem;
    text-align: left;
}